#meetup_component {
    .btn {
        font-weight: bold;
        @include button-size($padding-large-vertical * 2, $padding-large-horizontal, $font-size-base, $line-height-large, $btn-border-radius-large);
    }
    .media {
        color: $component-default-subheader-color;
    }
    .media-heading {
        font-weight: bold;
    }
}
