#meetup_component {
    .btn {
        font-weight: bold;
        @include button-size($padding-large-vertical * 2, $padding-large-horizontal, $font-size-base, $line-height-large, $btn-border-radius-large);
    }
    .media {
        color: $component-default-subheader-color;
    }
    .media-heading {
        font-weight: bold;
    }
    .upcoming-component {
        @media (min-width: $screen-md-min) {
            height: 375px;
        }
    }
    .previous-component {
        .media-left img {
            width: 80px;
            height: 45px;
            background-image: url('/assets/default-event.jpg');
            background-position: center center;
            background-size: cover;
        }
        .media-heading {
            height: 22px;
            color: $component-default-subheader-color;
            display: block;
            overflow: hidden;
        }
    }
}
