
// Body
$body-bg: #f1f1f1;

// Heading
$heading-padding: 48px;
$heading-padding-multiplier: 4;

// Ending
$ending-padding: $heading-padding;
$ending-padding-multiplier: $heading-padding-multiplier;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: transparent;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #f75936;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #f7ec36;

// Typography
$font-family-sans-serif: "Avalon", sans-serif;
$font-size-base: 13px !default;
$line-height-base: 1.6;
$text-color: #fff;
$font-src: "/fonts/avalon";
$line-height-base: 1.846;
$line-height-computed: floor(($font-size-base * $line-height-base));

// Navbar
$navbar-default-bg: #fa3121;
$navbar-height: 83px;
$navbar-default-link-color: #FFF;
$navbar-border-radius: 0;
$navbar-font-size: 12px;
$nav-link-padding: 30px;
$navbar-default-link-icon-color: #fa3121;

// Buttons
$btn-default-color: $text-color;
$btn-font-weight: bold;
$btn-default-color: #FFF;
$btn-default-bg: #333333;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Page Header
$page-header-border-color: #dbdbdb;

// Panels
$panel-default-heading-bg: #fff;

// Footer
$footer-height: 65px;
$footer-text-height: 19px;
$footer-font-size: $navbar-font-size;
$footer-font-weight: bold;
$footer-color: $navbar-default-link-color;

// Components
$component-default-bg: #FFF;
$component-default-boxshadow-color: rgba(0, 0, 0, 0.3);
$component-default-subheader-color: #343434;
$component-default-header-color: $brand-primary;
$component-padding-vertical: $line-height-computed * 2;
$component-padding-horizontal: $line-height-computed * 4;

// Owl Carousel Theme
$color-base:            $brand-primary !default;
$color-white:           #FFF !default;
$color-gray:            #D6D6D6 !default;
$nav-color:             $color-white !default;
$nav-color-hover:       $color-white !default;
$nav-font-size:         14px !default;
$nav-rounded:           3px !default;
$nav-margin:            5px !default;
$nav-padding:           4px 7px !default;
$nav-background:        $color-gray !default;
$nav-background-hover:  $color-base !default;
$nav-disabled-opacity:  0.5 !default;
$dot-width:             10px !default;
$dot-height:            10px !default;
$dot-rounded:           30px !default;
$dot-margin:            5px 7px !default;
$dot-background:        $color-gray !default;
$dot-background-active: $color-base !default;
